body{
    background-image: url(backgroundImg.png);
    width: 94vw;
    height: 100vh;
    background-repeat:repeat;
    display: block;
}

h1{
    font-family: "Playfair Display", 'sans-serif';
    font-weight: 400;
    font-size: 5rem;
    background-image: url(striscia.png);
    background-repeat:no-repeat;
    background-position: center;
    width: 60vw;
    background-size: contain;
    text-align: center;
    height: 13vh;
    margin: 0;
}

.menuT{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #264696;
}

.line{
    background-color: aquamarine;
    width: 80vw;
    height: 0.5vh;
    border-radius: 2rem;
    background-color: #264696;
    margin-left: auto;
    margin-right: auto;
}

.pesce{
    display: flex;
    flex-direction: column;
}

.antipasti{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.7rem;
    font-family: "Playfair Display", 'sans-serif';
}

.piatto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

p{
    margin: 12px;
}

.leftP{
    text-align: left;
    width: 37vw;
    font-family: Kreon, 'sans-serif';
    font-size: 1.3rem;
    color: #264696;
}

.rxP{
    text-align: right;
    width: 30vw;
    font-family: Kreon, 'sans-serif';
    font-size: 1.3rem;
}

.pizze{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    font-family: "Playfair Display", 'sans-serif';
}

p.ingredienti {
    display: flex;
    flex-direction: column;
    width: 37vw;
    gap: 0.1rem;
    margin-top: 0;
    font-family: Kreon, 'sans-serif';
}

p.leftP {
    font-family: Kreon, 'sans-serif';
    margin-bottom: 0.5px;
    width: 40vw;
}

.mezzoM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Playfair Display", 'sans-serif';
}

.mezzoM p {
    font-size: 0.9rem;
}

.piattoMaggiorazioneT{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Playfair Display", 'sans-serif';
    margin-top: 10px;
}

.piattoM{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Playfair Display", 'sans-serif';
    
}

.cond{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-family: "Playfair Display", 'sans-serif';
   
}

.piattoM .leftP {
    white-space: nowrap;
    overflow: visible;
    width: 40vw; /* assicurati che non sia troppo larga */
}

.piattoM p {
    font-size: 0.8rem;
}

.sup{
    display: flex;
    flex-direction: column;
    align-items: space-around;
    font-family: "Playfair Display", 'sans-serif';
    margin-left: 15px;
}

.vini{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    font-family: "Playfair Display", 'sans-serif';
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'inter', 'sans-serif';
    font-weight: lighter;
    font-size: 0.6rem;
    color: #cccccc;
}

.footer-content{
    text-align: center;
}





